.transparent-button {
    -fx-background-color: transparent;
    -fx-border-color: #555555; /* black */
}

.label {
    -fx-font-size: 20px;
    -fx-font-family: Arial;
}

.label-right-padding {
    -fx-padding: 0 0 0 180; /* Padding for labels with right alignment */
}

.More-Services-padding {
    -fx-padding: 0 0 0 135; /* Padding for labels with right alignment */
}

.button-arrows:hover {
  -fx-background-color: #555555; /* black */

}
.label-Fail-login{
    -fx-text-fill: red;
    -fx-padding: 0 0 -120 180;
    -fx-font-weight: bold;
}

.number-pad{
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 20px;

}

